<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.piheroes.www"
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Pi Heroes</name>

    <description>
        Test your memory by seeing how many decimal places of pi you can remember. See how you compare by posting your top scores to www.piheroes.com.
    </description>

    <author href="http://www.piheroes.com" email="admin@piheroes.com">
        Emile
    </author>
    
    <icon src="icon.png" />
    <gap:splash src="splash.png" />
    
    <preference name="permissions" value="none"/>
    
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="2.7.0" />
    <preference name="detect-data-types" value="false" />
    <preference name="fullscreen" value="true" />
    
    <access origin="*" />
    
</widget>