
/*
.key
{
width: 60px;
height: 60px;
margin: 20px;
border: 2px solid black;
float: left;
text-align: center;
}

#keypad
{
height: 520px;
width: 320px;
border: 2px solid blue;
}
*/

#keypad
{
height: 70%;
width: 90%;
position: absolute;
bottom: 0px;
margin-left: 5%;
margin-right: 5%;
}

.key
{
width: 32%;
height: 12.5%;
float: left;
text-align: center;
background-color: rgba(0,0,0,0.2);
margin-top: 0.5%;
margin-bottom: 0.5%;
border-radius: 5px;
}

.num
{
font-size: 2em;
}

#result
{
width: 95%;
height: 10%;
overflow-y: scroll;
}

#mode_box
{
margin: 5px;
}

#mode
{
float: left;
margin-left: 10%;
border: 1px solid black;
border-radius: 5px;
padding: 5px;
}
#current_position
{
float: right;
margin-right: 10%;
border: 1px solid black;
border-radius: 5px;
padding: 5px;
}

.right
{
margin-right: 1%;
margin-left:0.5%;
}
.middle
{
margin-right: 0.5%;
margin-left: 0.5%;
}
.left
{
margin-left: 1%;
margin-right: 0.5%;
}










