body
{
margin: 0;
padding: 0;
}

#loading_div
{
position: absolute;
top: 0px;
left: 0px;
display: none;
margin: 0px;
padding: 0px;
width: 100%;
height: 100%;
background-color: black;
color: white;
font-size: 4em;
z-index: 1000;
}

*/*remove orange highlight*/
{
-webkit-tap-highlight-color: transparent;
/*-webkit-tap-highlight-color: rgba(255, 255, 255, 0);  */
}
/*
.key
{
width: 60px;
height: 60px;
margin: 20px;
border: 2px solid black;
float: left;
text-align: center;
}

#keypad
{
height: 520px;
width: 320px;
border: 2px solid blue;
}
*/

#keypad
{
height: 70%;
width: 90%;
position: absolute;
bottom: 0px;
margin-left: 5%;
margin-right: 5%;
-webkit-tap-highlight-color: transparent;
}

.key
{
width: 32%;
height: 12.5%;
float: left;
text-align: center;
background-color: rgba(0,0,0,0.2);
margin-top: 0.5%;
margin-bottom: 0.5%;
border-radius: 5px;
-webkit-tap-highlight-color: transparent;
}

.num
{
font-size: 2em;
-webkit-touch-callout: none;/*this fixed the highlight BUG*/
-webkit-user-select: none;/*this fixed the highlight BUG*/
}

.fn_key
{
margin-top:3%;
}

#result
{
width: 95%;
height: 20%;
margin-left: auto;
margin-right: auto;
word-wrap:break-word;
overflow:auto;
}
.scrollable
{
font-size: 1em;
}
#result_footer
{
position: absolute;
width: 100%;
clear: both;
bottom: 0px;
}

#mode_box
{
height: 10%;
width: 80%;
margin-right: auto;
margin-left: auto;
/*margin: 0;*/
padding: 0;
}

.mode_key
{
width: 32%;
height: 12.5%;
float: left;
text-align: center;
background-color: rgba(0,0,0,0.2);
margin-top: 0.5%;
margin-bottom: 0.5%;
border-radius: 5px;
-webkit-tap-highlight-color: transparent;
}

#current_position
{
width: 50%;
/*margin-right: auto;
margin-left: auto;*/
border: 1px solid black;
border-radius: 5px;
padding: 5px;
display: inline-block;
}

.right
{
margin-right: 1%;
margin-left:0.5%;
}
.middle
{
margin-right: 0.5%;
margin-left: 0.5%;
}
.left
{
margin-left: 1%;
margin-right: 0.5%;
}

/* Overlay */
#overlay
{
position: absolute;
top:0px;
left:0px;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.9);
margin: 0;
z-index: 100;
}

#grouping_adjust
{
color: white;
}

.grp_adj
{
width: 5%;
}

#study_pi
{
position: absolute;
top: 10%;
left: 5%;
width: 80%;
height: 85%;
font-size: 1.5em;
color: rgba(255,255,255,0.9);
background-color: rgba(0,0,0,0.9);
margin-right: auto;
margin-left: auto;
border: 1px solid black;
word-wrap:break-word;
z-index: 101;
}

#overlay_close
{
position: absolute;
width: 20%;
height: 5%;
top: 0px;
right: 0px;
margin-right: 10%;
margin-top: 10px;
border: 2px solid white;
background-color: black;
color: white;
text-align: center;
border-radius: 10px;
}

/* Landmark classes */
.red_span
{
color: red;
}
.blue_span
{
color: blue;
}
.yellow_span
{
color: yellow;
}
.green_span
{
color: green;
}
.purple_span
{
color: #A300D9;
}


.lm_10
{
color: #EBF21F;
-webkit-transition:color 1s ease-in;
}
.lm_background_10
{
background-color: #EBF21F;
-webkit-transition:background-color 1s ease-in;
}

.lm_50
{
color: #C8F21F;
-webkit-transition:color 1s ease-in;
}
.lm_background_50
{
background-color: #C8F21F;
-webkit-transition:background-color 1s ease-in;
}

.lm_100
{
color: #1FF227;
-webkit-transition:color 1s ease-in;
}
.lm_background_100
{
background-color: #1FF227;
-webkit-transition:background-color 1s ease-in;
}

.lm_200
{
color: #1FF282;
-webkit-transition:color 1s ease-in;
}
.lm_background_200
{
background-color: #1FF282;
-webkit-transition:background-color 1s ease-in;
}

.lm_400
{
color: #1FCFF2;
-webkit-transition:color 1s ease-in;
}
.lm_background_400
{
background-color: #1FCFF2;
-webkit-transition:background-color 1s ease-in;
}

.lm_500
{
color: #1F85F2;
-webkit-transition:color 1s ease-in;
}
.lm_background_500
{
background-color: #1F85F2;
-webkit-transition:background-color 1s ease-in;
}

.lm_600
{
color: #3C1FF2;
-webkit-transition:color 1s ease-in;
}
.lm_background_600
{
background-color: #3C1FF2;
-webkit-transition:background-color 1s ease-in;
}

.lm_700
{
color: #B71FF2;
-webkit-transition:color 1s ease-in;
}
.lm_background_700
{
background-color: #B71FF2;
-webkit-transition:background-color 1s ease-in;
}



